
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
    </tr>
    <tr>
      <td><a href="/"><%="#{@meetup.name} " %></a></td>
      <td><a href=""><%="#{@meetup.description} " %></a></td>
      <td><a href=""><%="#{@meetup.location} " %></a></td>
    </tr>
  </table>
</div>
